<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Globe Demo</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@astrouxds/astro-web-components/dist/astro-web-components/astro-web-components.css"
    />
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/@astrouxds/astro-web-components/dist/astro-web-components/astro-web-components.esm.js"
    ></script>

    <!-- Vue -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script> -->


<style>
  * {
    box-sizing: border-box;
  }
 /*
  /* Style the body */
  body {
        margin: 0;
        overflow: hidden;
      }
  
  /* Header/logo Title */
  .header {
    padding: 0px;
    text-align: center;
    background: #1c3f5e;
    color: white;
  }
  
  /* Column container */
  .row {  
    display: flex;
    /* flex-wrap: wrap; */
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    flex: 20%;
    background-color: #1b2d3e;
    padding: 010px;
    overflow-y: auto;
    overflow-x: auto;

  }
  
  /* Main column */
  .main {
    flex: 80%;
    background-color: #172635;
    padding: 0px;
  }
  
  .side_right {
    flex: 20%;
    background-color: #1b2d3e;
    padding: 0px;
  }
  
  /* Footer */
  .footer {
    padding: 0px;
    text-align: center;
    background: #172635;
  }
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  /* @media screen and (max-width: 700px) {
    .row, .navbar {   
      flex-direction: column;
    }
  } */
  #globe-container {
        width: 60vw;
        height:85vh;
  }

  #deck-container {
        width: 80vw;
        height:85vh;
  }

.button-list {
                list-style-type: none;
                margin: 0 1rem 0 0;
                padding: 0;
                display: flex;
                flex-flow: column;
            }
            .button-list li {
                margin: 0 1rem 1rem 0;
                display: flex;
            }
            .button-list li rux-button:not(:last-child) {
                margin-right: 1rem;
            }

.table-container {
    /* display: flex; */
    width: calc(100%);          /* Adjust as needed */
    max-height: 85vh;    /* Set the fixed height */
    overflow-y: auto;     /* Enable vertical scrolling */
    overflow-x: auto;     /* Enable vertical scrolling */
}


  </style>
      <script src="https://unpkg.com/deck.gl@^9.0.0-beta.2/dist.min.js"></script>
      <script src="https://unpkg.com/deck.gl/geo-layers@^9.0.0-beta.2/dist.min.js"></script>

  <link
      rel="stylesheet"
      href="https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.css"
  />


  </head>

  <body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- <script src="{{ url_for('static', filename='index.js') }}"></script> -->
    <script src="https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.js"></script>

    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script type="module" src="../static/index.js"></script>
    <script type="module" src="../static/deck_map.js"></script>

    <!-- <script src="dist/bundle.js"></script> Include your bundled JavaScript -->


    <!-- <script src="//unpkg.com/globe.gl" defer></script> -->
    <script src="https://cdn.jsdelivr.net/npm/globe.gl"></script>
    <div class="header">
      <div style="display: flex; flex-flow: column; justify-content: center; margin-bottom:0px; position: relative;">
        <rux-classification-marking classification="unclassified"></rux-classification-marking>
      </div>
      <rux-global-status-bar include-icon="true" app-state="Development" app-state-color="tag1" username="J. Burns" app-domain="Globe" app-name="Dashboard" app-version="0.0 Alpha" menu-icon="public">
        <!-- <div style="padding: 0%; display: flex; justify-content: right;"> -->
          <rux-tabs id="tab-set-id-1">
            <rux-tab id="tab-id-1">Deck</rux-tab>
            <rux-tab id="tab-id-2">Globe</rux-tab>
            <rux-tab id="tab-id-3" disabled="">Placeholder</rux-tab>
        </rux-tabs>
          <rux-clock slot="right-side"date-in=""></rux-clock>
        <!-- </div> -->

      </rux-global-status-bar>
    </div>

  <div class="row">
    <div class="side" id="side_bar">
      <div class="table-container">
        <rux-container style="--body-padding: 0;"> 
          <div slot="header">Streams</div>
          <rux-accordion id="stream_table">
            <rux-accordion-item id="server-status-row">
              <div slot="label">Server Status
                <rux-status id="server-status-row-status" status="off"></rux-status>
              </div>
              <rux-monitoring-icon id="server-status" icon="equipment" label="Server" sublabel="Status" status="standby" notifications="100"></rux-monitoring-icon>
              <p>Content 1</p>
            </rux-accordion-item>
            <rux-accordion-item id="mock-flights-status-row">
              <div slot="label">Mock Flight Data Status
                <rux-status id="mock-flights-row-status" status="off"></rux-status>
              </div>
              <div> 
                <rux-button onclick=start_flight_data_stream()>Start Flight Data</rux-button>
              </div>
              <div>
                <rux-button onclick=stop_flight_data_stream()>Stop Flight Data</rux-button>
              </div>
            </rux-accordion-item>
          </rux-accordion>
          <!-- <rux-button onclick=add_new_stream()>Add Stream</rux-button> -->
        </rux-container>
        <rux-container style="--body-padding: 0;"> 
          <div slot="header">Layers</div>
          <rux-accordion id="layer_table">
            <rux-accordion-item id="airport-data-row">
              <div slot="label">Airport Data
                <rux-status id="airport-data-row-status" status="off"></rux-status>
              </div>
              <div>
                <rux-input error-text='' id="airport_request_latitude_input" label="Latitude"></rux-input>
              </div>
              <div>
                <rux-input id="airport_request_longitude_input" label="Longitude"></rux-input>
              </div>
              <div>
                <rux-input id="airport_request_radius_input" label="Radius"></rux-input>
              </div>
              <div>
                <rux-button onclick=request_airport_data()>Request Airport Data</rux-button>
              </div>
            </rux-accordion-item>     
          </rux-accordion>
          <!-- <rux-button onclick=add_new_stream()>Add Layer</rux-button> -->
        </rux-container>
        <rux-button onclick=reset_map_layers()>Reset Map</rux-button>

        <!-- <div style="display: flex; justify-content: right;">
          <rux-table id='airport-table' >
            <rux-table-header>
            </rux-table-header>
            <rux-table-body>
            </rux-table-body>
          </rux-table>
        </div> -->
      </div>
    </div>
    <div class="main", id="main_space">
      <rux-tab-panels aria-labelledby="tab-set-id-1">
        <rux-tab-panel aria-labelledby="tab-id-1">
          <div id="deck-container"  text-align: center;></div>
        </rux-tab-panel>
        <rux-tab-panel aria-labelledby="tab-id-2">
          <div id="globe-container"  text-align: center;></div>
        </rux-tab-panel>
      </rux-tab-panels>
    </div>
    <!-- <div class="side_right"> -->
      <!-- <div style="display: flex; justify-content: left;">
        <ul class="button-list">
          <li>
          </li>
          <li>
            <rux-status id='stream_status' status="off"></rux-status>
            <div id='stream_status_label' class="label">Off</div>
          </li>
          <li>
          </li>
          <li>
            <rux-input name="fltStartTime" label="Start Time"></rux-input>
          </li>
          <li>
            <rux-input name="fltInterval" label="Interval"></rux-input>
          </li>
          <li>
          </li>
          <li>
            <form style="padding: 1rem" method="POST" action="/">
              <div>
                <rux-select name="keyInput" label="Data">
                  <rux-option
                    value="blank"
                    label="---"
                  ></rux-option>
                <rux-option
                    value="airports"
                    label="Airports"
                ></rux-option>
                <rux-option 
                    value="other" 
                    label="Other">
                </rux-option>
              </rux-select>
              </div>
              <div>
                <rux-input name="latitudeInput" label="Latitude"></rux-input>
              </div>
              <div>
                <rux-input name="longitudeInput" label="Longitude"></rux-input>
              </div>
              <div>
                <rux-input name="radiusInput" label="Radius"></rux-input>
              </div>
              <div class="col-span-6 ml-auto">
                <rux-button type="submit">Submit</rux-button>
              </div>
            </form>
          </li>
          <li>
            <rux-button onclick=load_flight_data()>Load Flight Data</rux-button>
          </li>
        </ul>
      </div> -->
  </div>
</div>
  <div class="footer">
    <div style="display: flex; flex-flow: column; justify-content: center; margin-bottom:0px; position: relative;">
      <rux-classification-marking classification="unclassified"></rux-classification-marking>
    </div>
  </div>


    <!-- <div class="app-grid">
      <div class="grid-zone grid-zone--header">
          <div style="display: flex; justify-content: center;">
            <rux-global-status-bar include-icon="false" app-state="Production" app-state-color="tag1" username="J. Burns" app-domain="Globe" app-name="Dashboard" app-version="0.0 Alpha" menu-icon="apps">
              <div style="padding: 10%; display: flex; justify-content: center;">
                <rux-clock date-in=""></rux-clock>
              </div>
            </rux-global-status-bar>
          </div>
        
          <status-indicators class="status-indicators" status="{{statusData}}"></status-indicators>
      </div>


        <div class="grid-zone grid-zone--main">
          <div class="grid-zone grid-zone--main__content">
            <rux-container>
              <div id="globe-container" style="width: 80%; text-align: center;"></div>
            </rux-container>

          </div>
          <div class="grid-zone grid-zone--main__content__lower">
            <div class="grid-zone grid-zone--main__content__lower__left">
              <div class="grid-zone__label"></div>
              <div class="grid-zone__content">

   
              </div>
            </div>
            <div class="grid-zone grid-zone--main__content__lower__right">
              <ttc-watcher-graph></ttc-watcher-graph>
            </div>
          </div>
        </div> -->


    <!-- <script src="./dist/globe.gl/src/globe.js"></script> -->

    <!-- <script src="../../globe.gl"></script> -->
<!-- 
    <script>
    // Gen random data
      const N = 300;
      const gData = [...Array(N).keys()].map(() => ({
        lat: (Math.random() - 0.5) * 180,
        lng: (Math.random() - 0.5) * 360,
        size: Math.random() / 3,
        color: ['red', 'white', 'blue', 'green'][Math.round(Math.random() * 3)]
      }));

      // const myGlobe = new Globe(document.getElementById('globeViz'))
      //   .globeImageUrl('//unpkg.com/three-globe/example/img/earth-night.jpg')
      //   .pointsData(gData);
      
      new Globe(document.getElementById('globeViz'))
        .globeImageUrl('//unpkg.com/three-globe/example/img/earth-night.jpg')
        .pointsData(gData)
        .pointAltitude('size')
        .pointColor('color');

  </script> -->

  <!-- <script lang="ts">
    import { defineComponent } from "vue";
    import panel_a from "../components/panel_a.vue";
    
    export default defineComponent({
      name: "App",
      components: {
        panel_a,
      },
    });
    </script>
    
    <style></style> -->

    <script>
      //function load_globe(){
        gData = gen_data();

        // Ensure the Globe.gl script is loaded
        if (typeof Globe !== 'undefined') {
          // Create the globe instance and attach it to the container
          var myGlobe = Globe()
             .globeImageUrl('https://unpkg.com/three-globe@2.35.3/example/img/earth-dark.jpg') // Add Earth texture
            //.globeImageUrl('https://unpkg.com/three-globe@2.35.3/example/img/earth-blue-marble.jpg') // Add Earth texture
            // .bumpImageUrl('https://unpkg.com/three-globe/example/img/earth-topology.png') // Add topology
            .height([document.getElementById('globe-container').offsetHeight])
            .width([document.getElementById('globe-container').offsetWidth])
            (document.getElementById('globe-container'));
          //myGlobe.globe_points = gData;
          //myGlobe.pointsData = gData
          myGlobe.pointsData(gData);
          myGlobe.pointAltitude('size');
          myGlobe.pointColor('color');

          // myGlobe.controls().autoRotate = true;
          // myGlobe.controls().autoRotateSpeed = 0.6;

        } else {
          console.error('Globe.gl library failed to load.');
        }



      function gen_data(){
        const W = 1000;

        var xData = [...Array(W).keys()].map(() => ({
          lat: (Math.random() - 0.5) * 180,
          lng: (Math.random() - 0.5) * 360,
          size: .001,//Math.random() / 3,
          color: ['red', 'white', 'blue', 'green'][Math.round(Math.random() * 3)],
        }));
        return xData
      }

      function re_gen_data(){
        const gData3 = gen_data();

        myGlobe.objectsData(gData3);
      }

    </script>

<script type="text/javascript">  

  // const socket = io('http://localhost:8000'); // Replace with your backend URL

  // socket.on('connect', () => console.log('Connected to server'));
  // socket.on('disconnect', () => console.log('Disconnected from server'));

//   socket.emit('custom_event', { message: 'Hello from frontend' });

// // Listen for responses
//     socket.on('response_event', (data) => {
//     console.log('Received from server:', data);
// });


// const map = new maplibregl.Map({
//     container: 'map',
//     style: 'https://demotiles.maplibre.org/style.json', // OpenStreetMap tiles
//     center: [-122.45, 37.78], // [longitude, latitude]
//     zoom: 12,
//     pitch: 30,
//     bearing: 0
// });

</script>
<script type="module" src="../static/index.js">

const form = document.querySelector('form')
form.addEventListener('submit', (e) => {
    e.preventDefault()
    const formData = new FormData(form)

  //     alert(`
  //       Key:  ${formData.get('keyInput')}\n
  //       Lat: ${formData.get('latitudeInput')} \n
  //       Long:  ${formData.get('longitudeInput')}\n
  //       Radius:  ${formData.get('radiusInput')}\n

  // `)

  request_airport_data(formData.get('keyInput'), formData.get('latitudeInput'), 
    formData.get('longitudeInput'), formData.get('radiusInput'))
  })
</script>

  </body>
</html>

